:root {
    --second-main-color: #21BF73;
    --first-main-color: #1a91f0;
    --footer-color: #eaeaead1;
    --footer-title-c: #ffeb3b;
    --main-title-c: #041731;
    --slogan-color: #525252;
    --title-color: #202020;
    --weight: #ffffff;
    --black: #000000;
    --box-color: #EFF2F9;
}

.template {
    min-width: 100%;
    min-height: 70vh;
    position: relative;
    overflow: hidden;
}


.template::before,
.template::after {
    width: 20rem;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    filter: blur(30px);
    -webkit-filter: blur(30px);
}

.template::before {
    content: "";
    background-image: url("../assets/blobleft.svg");
    bottom: 5%;
    left: 5%;
    transform: translate(-55%, 50%);
    -webkit-transform: translate(-55%, 50%);
    -moz-transform: translate(-55%, 50%);
    -ms-transform: translate(-55%, 50%);
    -o-transform: translate(-55%, 50%);
}

.template::after {
    content: "";
    background-image: url("../assets/blobright.svg");
    right: 5%;
    top: 5%;
    transform: translate(50%, -40%);
    -webkit-transform: translate(50%, -40%);
    -moz-transform: translate(50%, -40%);
    -ms-transform: translate(50%, -40%);
    -o-transform: translate(50%, -40%);
}

.template .templateHead {
    text-align: center;
    margin-top: 5rem;
    color: var(--main-title-c);
}

.template .templateHead h1 {
    font-size: 4rem;
    width: 50rem;
    margin: 10px auto;
    line-height: 4.5rem;
    text-transform: capitalize;
}

.template .templateHead p {
    color: var(--slogan-color);
    font-size: 1.2rem;
    text-transform: lowercase;
    margin: 10px 0;
    display: inline-block;
    width: 60rem;
    text-wrap: balance;
}

.template .galleryTemplates {
    width: 90vw;
    margin: 4rem auto 1.2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.template .galleryTemplates .templateCol {
    background-color: var(--box-color);
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 30%;
}

.template .galleryTemplates .templateCol section:nth-child(1) {
    height: inherit;
    display: flex;
    align-items: center;
    padding-top: 2.5rem;
    justify-content: center;
    height: fit-content;
}

.template .galleryTemplates .templateCol section img {
    border-radius: 0.4rem;
    width: 90%;
    height: 25rem;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.template .galleryTemplates .templateCol section a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 0.4rem 0.8rem;
    text-wrap: nowrap;
    font-size: 1.09rem;
    text-transform: capitalize;
    background-color: var(--first-main-color);
    color: var(--box-color);
    border-radius: 0.3rem;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    cursor: pointer;
}

.template .galleryTemplates .templateCol:hover a {
    opacity: 1;
}

.template .galleryTemplates .templateCol section:nth-child(3) {
    padding: 0.5rem 2.5rem;
    display: block;
    margin: 1.4rem auto;
}

.template .galleryTemplates .templateCol section:nth-child(3) h3 {
    font-size: 1.050rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #1e2532;
    line-height: 2rem;
}

.template .galleryTemplates .templateCol section:nth-child(3) p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #b9babd;
}